Raw-Data/A4-640_100g_50ms_1_auto_adjusted.tif
Raw-Data/A4-640_100g_50ms_1.tif
Raw-Data/20230317_A6-568-SRRF_100g_50ms_strobe_1.tif
Raw-Data/20230317_A6-568-SRRF_100g_50ms_strobe_1_auto_adjusted.tif
Example ML Notebooks/MNIST/raw/train-labels-idx1-ubyte.gz
Example ML Notebooks/MNIST/raw/train-labels-idx1-ubyte
Example ML Notebooks/MNIST/raw/train-images-idx3-ubyte.gz
Example ML Notebooks/MNIST/raw/train-images-idx3-ubyte
Example ML Notebooks/MNIST/raw/t10k-labels-idx1-ubyte.gz
Example ML Notebooks/MNIST/raw/t10k-labels-idx1-ubyte
Example ML Notebooks/MNIST/raw/t10k-images-idx3-ubyte.gz
Example ML Notebooks/MNIST/raw/t10k-images-idx3-ubyte
Region3-1.tif
A4_640.npy
A6_568.npy
localizations.npy
PSF_Identifier_Attempt_2.ipynb
A4_640_29x29_gpu.npy
A6_568_29x29_gpu.npy
Category-Testing/A6_category_worst.npy
Category-Testing/A6_category_tight.npy
Category-Testing/A6_category_default.npy
Category-Testing/A6_category_dark.npy
Category-Testing/A6_category_bright.npy
Category-Testing/A4_category_worst.npy
Category-Testing/A4_category_tight.npy
Category-Testing/A4_category_default.npy
Category-Testing/A4_category_dark.npy
Category-Testing/A4_category_bright.npy
A6_568_29x29_gpu.npy
A4_640_29x29_gpu.npy
Models/model1.pt
Models/model2.pt
Models/model3.pt
Models/model4.pt
Raw Data/Good Data/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405.tif
Raw Data/Good Data/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW.tif
Raw Data/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small.tif
Raw Data/A647-GoatAntiMouse-No1CG-100EMG-50ms_2_40mW.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_3.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_2.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_3.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_2.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_3.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_2.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_3.tif
Raw Data/CF660c/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_2.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-100ms_28mW.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW_2.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_3.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_2.tif
Raw Data/A647/A647-GoatAntiMouse-No1CG-100EMG-50ms_2_40mW.tif
Models/model8.pt
Models/model7.pt
Models/model6.pt
Models/model5.pt
PSF Frames/CF660c_good_PSFs.npy
PSF Frames/CF660c_combined_PSFs.npy
PSF Frames/A647_good_PSFs.npy
PSF Frames/A647_combined_PSFs.npy
Models/model9.pt
Models/model11.pt
Models/model12.pt
Models/model13.pt
Data_Preprocessing_Improved.ipynb
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_0mW405.tif
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_1.tif
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_2.tif
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_3.tif
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_4.tif
Raw Data/New Data/A647/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_5.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_1.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_2.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_3.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_4.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_5.tif
Raw Data/New Data/Both/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_6.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_1.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_2.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_3.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_4.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_5.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_6.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_7.tif
Raw Data/New Data/CF660c/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_8.tif
Pytorch Datasets/Real Data (A647 CF660c)/A647_vs_CF660c_most_normal_single_movie.pt
Pytorch Datasets/Cover Slip (A647 CF660c)/A647_vs_CF660c_all.pt
ClassifierModel.py
__pycache__/PSFDataset.cpython-38.pyc
__pycache__/PSF_Preprocessing.cpython-38.pyc
__pycache__/ClassifierModel.cpython-38.pyc
__pycache__/CapsuleNetwork.cpython-38.pyc
Pytorch Datasets/Cover Slip (A647 CF660c)/A647_vs_CF660c_all_13px.pt
Pytorch Datasets/Normalization/Normalized/norm_testing.pt
Pytorch Datasets/Normalization/Normalized/norm_training.pt
Pytorch Datasets/Normalization/Raw/raw_testing.pt
Pytorch Datasets/Normalization/Raw/raw_training.pt
Pytorch Datasets/Real Data (A647 CF660c)/A647_vs_CF660c_most_normal_single_movie_13px.pt
