src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_3.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_2.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_3.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_2.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_3.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_2.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_3.tif
src/data/raw/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_2.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-100ms_28mW.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW_2.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_2.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_3.tif
src/data/raw/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_2_40mW.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_1.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_2.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_3.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_4.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_5.tif
src/data/raw/single_fov_standard_psf/multi_dye/AF647_mitochondria_CF660c_tubulin/CF660cGaM_AntiATubulin_AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_6.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_2_40mW.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_2.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes_3.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW_1kframes.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_28mW.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW_2.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-50ms_40mW.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_coverslip/A647-GoatAntiMouse-No1CG-100EMG-100ms_28mW.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_0mW405.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_1.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_2.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_3.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_4.tif
src/data/raw/single_fov_standard_psf/single_dye/AF647_mitochondira/AF647_AntiTOMM20_100EMG_50ms_50mW647_5mW405_5.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_2.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small_3.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_2.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_15mW647_0mW405_small.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small_3.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405_small.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_50ms_28mW647_0mW405.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_2.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small_3.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_28mW647_0mW405_small.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_2.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small_3.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_coverslip/CF660c-GaM_No1CG_100EMG_100ms_40mW647_0mW405_small.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_1.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_2.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_3.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_4.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_5.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_6.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_7.tif
src/data/raw/single_fov_standard_psf/single_dye/CF660c_tubulin/CF660cGaM_AntiATubulin_100EMG_50ms_50mW647_5mW405_8.tif
